@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Abel, sans-serif;
}

body {
background-color: #F2F3FB;
}

.start-btn,
.rules-box,
.game-box,
.results {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.start-btn{
    z-index: 1;
    padding: 10px 30px;
    font-size: 25px;
    font-weight: 600;
    color: #5CCDE5;
    cursor: pointer;
    background: #F2F3FB;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.start-btn:hover {
    background: #4CC9F0;
    color: #F2F3FB;
}

.rules-box {
    position: absolute;
    border-radius: 5px;
    width: 500px;
    background-color: #F2F3FB;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rules-box .rules-title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 25px;
    font-weight: 600;
    padding: 15px 20px;
    color: #6A6E6F;
    border-bottom: 1px solid #B2C4CA;
}

.rules-box .rules-list {
    padding:10px 15px;

}

.rules-list .rules {
    padding: 3px 20px;
    font-size: 18px;
    font-weight: 500;
    color: #6A6E6F;
}

.rules-box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 30px;
    border-radius: 5px;
}

.rules-box .buttons button {
    height: 35px;
    color: #5CCDE5;
    background-color: #F2F3FB;
    width: 100px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #B2C4CA;
    transition: all 0.3s ease;
}